{% extends 'basefront.html.twig' %}

{% block title %}Edit Depot{% endblock %}

{% block body %}
<h1 class="text-center" >Modifer un Depot</h1>

    <div class="container shadow-lg m-5 p-5">
         {{ include('depot/_form.html.twig', {'button_label': 'Update'}) }}
   <br>
<a class="btn btn-danger" href="{{ path('app_depot_delete', {'id': depot.id}) }}">delete</a>

</div>
{% endblock %}
