{% extends 'basefront.html.twig' %}

{% block title %}Edit Ressource{% endblock %}

{% block body %}
    <h1 class="text-center" >Modifier Ressource</h1>

    {{ include('ressource/_form.html.twig', {'button_label': 'Update'}) }}

 <br>

 
<a class="btn btn-danger" href="{{ path('app_ressource_delete', {'id': ressource.id}) }}">delete</a>
{% endblock %}
